# CalDAV Configuration Defaults
# Ensure both eink_calendar and your CalDAV container share a Docker network!
# Should work with any CalDAV-compliant service, but was only tested with Radicale!
# Note for Radicale, your username must be appended to CALDAV_URL; every user’s calendar collections are isolated in a folder named after their username
CALDAV_URL=http://radicale:5232/jacob/
CALDAV_USER=jacob
CALDAV_PASSWORD=yourpassword

# Weather Configuration
# Check the API at https://open-meteo.com/en/docs for timezone options
# Note forward slash is encoded as %2F and space characters as _
WEATHER_LATITUDE=42.612443
WEATHER_LONGITUDE=-71.337866
WEATHER_TIMEZONE=America%2FNew_York
# Enter either F or C. Also changes precipitation unit to inches or mm respectively for imperial vs metric.
WEATHER_UNIT=F

# Daily calendar refresh time (24 hour configuration)
CALENDAR_REFRESH_HOUR=4
CALENDAR_REFRESH_MINUTE=15
