#ifndef SECRETS_H
#define SECRETS_H

// WiFi Network Configuration
const char* WIFI_SSID     = "YOUR WIFI SSID";
const char* WIFI_PASSWORD = "yourwifipassword";

// Local Serving Infrastructure
// Default setup is for HTTP; fetching an HTTPS resource consumes 2-3x as much battery on ESP32 boards
const char* SERVER_IP     = "192.168.1.2";
const int SERVER_PORT     = 5233; // Keep as is unless you changed the port in docker-compose.yml
const char* IMAGE_PATH    = "/calendar.bmp"; // Keep as is unless you changed path in app.py

#endif
